/* SEARCH */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search h1 {
  font-size: 40px;
}
.search > input {
  width: 622px;
  height: 42px;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 5px;
  background-color: #f8efef;
  font-size: 15px;
  border: none;
}
.line {
  display: flex;
  align-items: center;
  background-color: #fcfbfb;
  width: 700px;
  height: 50px;
  margin-left: 50px;
}
.copy {
  margin-left: 10px;
  cursor: pointer;
}
